@import url('https://fonts.googleapis.com/css?family=Neucha|Lato|Lily+Script+One|Oswald');
.body{margin: 0; padding: 0; font-size: 65%;}
.control{
  cursor: pointer;
}
.wrapper{display: grid; grid-template-rows: 40% 60%; text-align: center; grid-gap: 1fr; margin: 0; padding: 0; font-family: 'Lato', sans-serif;}
.wrapper > div{background: #ddd; padding: 1em;}
.wrapper > div:nth-child(odd){background: #eee;}
.header{display: grid; grid-template-columns: 1fr 3fr; text-align: center; font-size: 0.8em; grid-gap: 10em; vertical-align: center;}
.header img{max-width: 250px;  transition: all 1s ease;}
.buttons{font-weight: bold; display: grid; grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr; grid-gap: 3.33%; } /*Buttons*/
.buttons a{  text-decoration: none; color: black; padding: 0; margin: 0 auto;} 												 /*Buttons*/
.buttons a:hover{ text-shadow: 2px 2px 15px blue; color: #eee;}		
.buttons h1 {margin-top: 0.8em;}				/*Buttons*/
.header img:hover{transform: rotate(-15deg);}
.header img:focus{transform: rotate(15deg);}
.Content{display: block; background-color: white!important; }
.innerContent img {background-attachment: url("office.jpg");display: width: 100vw; height: 20%; grid; grid-template-columns: 1fr 2fr 3fr ;height: auto; max-height: 100%; width: auto; max-width: 100%; border: 4px white solid; position: relative;}
.img1:hover {filter: blur(10px);}
.innerContent h1 {   color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }
  .innerContent p {filter: none!important;}


.Content1{display: grid; grid-template-columns: 1fr 1fr 1fr; text-align: center; perspective: 700; justify-items: center;}
.Content1 .Box h1{color: blue;}
.Content1 {align-items: center; vertical-align: middle;}
.Content1 .Box > img{height: 13em; }
.front img{height: 9em; margin: 0 auto; width: 15em; }
.front {background-color: RGBA(255, 255, 255, 1); border-radius: 20px;}
.Box .cardcontainer {perspective: 700; width: 15em; height: 15em; position: relative; }
.Box .cardcontainer .card {width: 15em; heigth: 15em; transition: all 1s ease;  transform-style: preserve-3d; position: absolute;}
.Box .cardcontainer:hover .card {transform: rotateY( 180deg ); }
.Box .cardcontainer:hover .card > .back {background-color: #c2c3c4; border-radius: 20px;}
.Box .cardcontainer .card  > .front, .back {position: absolute; width: 15em; height: 12em;  backface-visibility: hidden; padding-top: 15%;}
.Box .cardcontainer .card  > .back {transform: rotateY( 180deg );}
#buttonOn {width: 20em; height: 20em; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; margin-top: 12em; z-index: 10;}
#buttonOff {width: 5em; height: 5em; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 75em; margin-top: 40em; z-index: 11; background: RGBA(0,0,0,0.3); display: none;}
#soundOn, #soundOff {width: 5em; height: 5em; position: absolute; margin-left: auto; margin-right: auto; left: 75em; right: 0; margin-top: 40em; z-index: 13; }
#soundOff {display: none;}

.clientsContent {display: grid; grid-template-rows: 1fr 1fr 1fr; text-align: center; justify-items: center; margin-top: 3%; grid-gap: 6em;}
.client {display: grid; grid-template-columns: 1fr 2fr 1fr; border: solid white 3px;}
.clients {justify-items: center; }
.clients img {width: 330px; height: 125px;}
.clients a{vertical-align: center;}
.clients a p {vertical-align: center;}
.Footer{font-size: 1.2em;}
.Footer  pre:hover{color: blue;}
.column:nth-child(5){font-family: Oswald; font-size: 0.9em;}

.aboutContent {display: grid; grid-template: rows: 1fr 1fr 1fr; }
#slideshow { margin: 0 auto; padding: 0; position: relative; width: 100%; height: 667px; box-shadow: 0 0 20px rgba(0,0,0,0.4);  border: 1px solid RGBA(255, 255, 255, 1);}
#slideshow > div { margin: 0 auto; position: absolute;}
#slideshow h1 {vertical-align: middle; margin-top: 250px; line-height: 200px; text-align: center; color: white; background-color: RGBA(0, 0, 0, .4); font-size: 30px; font-weight: bold; }
#careers {display: block; margin-top: 3%; background-color: RGBA(0, 0, 0, .4);   border: 1px solid RGBA(255, 255, 255, 1); padding: 40px;}
.tableCareers {margin: 50px auto; background: rgba(255, 255, 255, 0.7); box-shadow: 0 0 20px rgba(0,0,0,0.4); border: 10px solid RGBA(0, 0, 0, 0.1); }
#careers a {text-decoration: none;}
.tableCareers td, th, tr {width: 223px;}



#People{height: 45em; position: relative; margin: 0 auto; }
.tableOffices{display: grid; grid-template-rows: 13em 7em 3em 3em 3em; width: 100%; height: 45em; margin: 0 auto; box-shadow: 0 0 40px rgba(0,0,0,0.4);}
.column {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 6em; height: 10em;}
.column img {width: 12em; height: 12em; border-radius: 12em; margin: 0 auto;}
.column h1{color: black; font-family: Lato; font-weight: bold;}

#projectsBG {width: 98%; height: 100%;}
#projects {display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 0 auto;}
.pictureClients {flex: 1; width: 23.75vw;  flex-grow: 1; flex-shrink: 1; }
.pictureClients img {padding: 0; display: block; transition: all 1s ease; flex-grow: 1; flex-shrink: 1; width: 23.75vw;}
.pictureClients h1 {text-align: center; background-color: white; margin: 0; padding: 1em 0 1em 0; font-family: Lato; font-size: 1.5em;}
#projects a:nth-child(odd) h1{background-color: rgba(90, 146, 237, 0.6);}
#projects a:nth-child(even) h1{background-color: white;}
.pictureClients:hover img{filter: blur(1px); filter: contrast(120%); filter: brightness(80%); position: relative; border-radius: 3em;}
#projects a {text-decoration: none; color: black;}

#maps {border: .7em solid rgba(255, 255, 255, 0.6);}
#maps iframe{transition: 1s all ease; }
#maps iframe:hover{height: 30em;}